*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #222;
}

.box{
    position: relative;
    width: 400px;
    height: 300px;
    background-color: white;
}

.box span{
    position: absolute;
    inset: 0;
    transition: 0.5s;
    background-image: url('person.jpg');
    background-size: cover;
}

.box span:nth-child(1){
    clip-path: polygon(0 0, 53% 0, 52% 52%, 0 52%);
    /* background-color: red;; */
}
.box span:nth-child(2){
    clip-path: polygon(47% 0, 100% 0, 100% 54%, 46% 53%);
    /* background-color: blue; */
}
.box span:nth-child(3){
    clip-path: polygon(44% 48%, 100% 49%, 100% 100%, 46% 100%);
    /* background-color: yellow; */
}
.box span:nth-child(4){
    clip-path: polygon(0 47%, 49% 47%, 49% 100%, 0 100%);
    /* background-color: green; */
}

.box:hover span:nth-child(1){
    transform: translate(-95px, -80px) rotate(-15deg)
}
.box:hover span:nth-child(2){
    transform: translate(100px, -90px) rotate(20deg);
}
.box:hover span:nth-child(3){
    transform: translate(100px, 60px) rotate(-20deg);
}
.box:hover span:nth-child(4){
    transform:translate(-100px, 73px) rotate(20deg);
}